.formacion{
    padding: 35px 0;
}

.caja__formacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}

.titulo__formacion{
    font-weight: 700;
    font-size: 32px;
    color: #464646;
    text-align: center;
    margin-bottom: 25px;
}

.box__imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 0px lightslategrey; 
    height: 200px;
    margin-bottom: 20px;
    transition: all .7s ease-out;
}
.box__imagen:hover{
    transform: scale(1.02);
}

.formacion__imagen{
    width: 120px;

}
.formacion__items{
    width: 31.33%;
}

.formacion__descripcion{
    font-weight: 700;
    font-size: 1rem;
    color: #464646;
    line-height: 25px;
}

/*Mobile*/

@media screen and (max-width: 768px){

    .formacion{
        margin: 0px;
    }

    .box__imagen{
        margin-bottom: 12px;
    }

    .titulo__formacion{
        font-size: 22px;
    }

    .formacion__items{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px){

    .formacion{
        padding: 35px 0 5px 0;
    }

    .box__imagen{
        margin-bottom: 12px;
    }

    .titulo__formacion{
        font-size: 22px;
    }

    .formacion__items{
        width: 47%;
        margin-bottom: 30px;
    }
    
}