.informacion{
    padding: 35px 0;
}

.contenido-informacion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-informacion{
    width: 54%;
    padding-left: 1%;
}

.informacion-titulo{
    font-size: 42px;
    color: #464646;
    line-height: 45px;
    text-align: justify;

}

.informacion-parrafo{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 20px 0;
    color: #464646;
    text-align: justify;
}

.enlaces-informacion{
    width: 100%;
    display: flex;
}

.enlaces-informacion a{
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;;
    color: #464646;
}

.enlaces-informacion i{
    font-size: 20px;
    color: #464646;
    margin-right: 2rem;
}

.contenido-informacion img{
    width: 34%;
    height: 34%;
    background: rgb(45, 139, 228);
    border-radius: 72% 28% 47% 53% / 50% 51% 49% 50% ;
    animation-name:morph;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
@keyframes morph{
    0%{
        border-radius: 72% 28% 47% 53% / 50% 51% 49% 50%  ;
    }
    25%{
        border-radius: 53% 47% 47% 53% / 50% 65% 35% 50% ;
    }
    50%{
        border-radius: 53% 47% 71% 29% / 50% 53% 47% 50%  ;
    }
    75%{
        border-radius: 53% 47% 48% 52% / 25% 53% 47% 75% ;
    }
    100%{
        border-radius: 72% 28% 47% 53% / 50% 51% 49% 50%  ;
    }
}

/*Mobile*/

@media screen and (max-width: 768px){

    .contenido-informacion{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    
    .texto-informacion{
        width: 100%;
    }

    .informacion-titulo{
        font-size: 22px;
        line-height: 26px;
        width: 90%;
    }

    .informacion-parrafo{
        font-size: 14px;
        line-height: 16px;
        margin: 15px 0;
        width: 90%;
    }

    .enlaces-informacion{
        width: 90%;
    }

    .enlaces-informacion a{
        font-size: 11px;
    }

    .enlaces-informacion i{
        margin-left: 12%;
    }

    .contenido-informacion img{
        width: 45%;
        margin-bottom: 1.5rem;
        margin-left: 25%;
    }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px){

    .informacion-titulo{
        font-size: 22px;
        line-height: 26px;
        margin-left: 5%;
    }

    .texto-informacion{
        width: 65%;
    }

    .informacion-parrafo{
        font-size: 1rem;
        line-height: 19px;
        margin-left: 5%;
    }

    .enlaces-informacion{
        justify-content: space-between;
        margin-left: 5%;
    }

    .contenido-informacion img{
        width: 30%;
        height: 30%;
        margin-left: 30%;
    }

    .enlaces-informacion a{
        font-size: 16px;
    }

    .enlaces-informacion i{ 
        margin: 0;
    }
    
}