.hobbies{
    padding: 6% 0;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hobbies__title{
    font-weight: 700;
    font-size: 32px;
    color: #464646;
    text-align: center;
    margin-bottom: 25px;
}

.hobbies__box{
    width: 10%;
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    padding: 2.5%;
}

.hobbies__img{
  font-size: 65px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  margin: auto;
}

.hobbies__name{
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: #464646;
    margin: 2% 0 0 20%;
}

/*Mobile*/

@media screen and (max-width: 768px){

    .hobbies{
        padding: 30px 0 10px 0;
    }
    
    .hobbies__title{
        font-size: 22px;
    }

    .hobbies__box{
        width: 47%;
        height: 130px;
        padding: 50px 16px 16px;
        margin-bottom: 25px;
        box-shadow: none;
        background: transparent;
    }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px){

    .hobbies{
        padding: 30px 0 5px 0;
    }
    
    .hobbies__title{
        font-size: 22px;
    }

    .hobbies__box{
        width: 30%;
        height: 130px;
        padding: 50px 16px 16px;
        margin-bottom: 30px;
    }

}