.experiencia{
    padding: 6% 0;
}

.contenido-experiencia{
    width: 100%;
}

.titulo-experiencia{
    font-weight: 700;
    font-size: 32px;
    color: #464646;
    text-align: center;
    margin-bottom: 25px;
}

.encriptador, .ahorcado, .alurageek{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.texto-encriptador, .texto-ahorcado, .texto-alurageek{
    width: 33%;
    text-align: center; 
}

.texto-encriptador h3, .texto-ahorcado h3, .texto-alurageek h3{
    margin-bottom: 8px;
}
.ahorcado{
    margin-top: 35px;
    margin-bottom: 35px;
}

.contenido-experiencia img{
    width: 65%;
    height: 400px;
    margin: auto;
}
.contenido-experiencia h3{
    font-weight: 700;
    font-size: 22px;
    color: #464646;
}

.contenido-experiencia p{
    font-weight: 500;
    font-size: 16px;
    color: #464646;
}

.caja-botones{
    display: flex;
    justify-content: center;
}
.caja-botones a{
    margin-top: 15px;
    margin-left: 15px;
}
.btn-repositorio{
    display: flex;
    width: 115px;
    text-decoration: none;
    background: #F5F5F5;
    font-weight: 400;
    font-size: 16px;
    padding: 11px;
    justify-content: center;
    margin: 0 12px 0 0;
    transition: all .3s ease-in;
    box-shadow: 2px 2px 3px -1px black; 
    color: black !important;
}
.btn-repositorio:hover{
    transform: scale(1.1);
    background: #2A7AE4;
    color: #F5F5F5 !important;
}

.img-encritador, .img-ahorcado, .img-alurageek {
    box-shadow: 1px 1px 5px -1px black; 
    transition: all .6s ease-in-out;
}
.img-encritador:hover, .img-ahorcado:hover, .img-alurageek:hover{
    transform: scale(1.01);
}

.btn-demo{
    display: flex;
    width: 115px;
    text-decoration: none;
    background: #2A7AE4;
    font-weight: 400;
    font-size: 16px;
    color: #F5F5F5;
    padding: 11px;
    justify-content: center;
    transition: all .3s ease-in;
    box-shadow: 2px 2px 3px -1px black; 
}
.btn-demo:hover{
    transform: scale(1.1);
    background: #F5F5F5;
    color: black !important;
}

/*Mobile*/

@media screen and (max-width: 768px){

    .contenido-experiencia{
        text-align: center;
    }

    .titulo-experiencia{
        font-size: 22px;
    }

    .encriptador, .alurageek{
        width: 100%;
        flex-direction: column;
    }

    .ahorcado{
        width: 100%;
        flex-direction: column-reverse;

    }

    .contenido-experiencia img{
        width: 100%;
        height: 300px;
    }

    .texto-encriptador, .texto-ahorcado, .texto-alurageek{
        margin-top: 20px;
        width: 100%; 
    }

    .contenido-experiencia h3{
        font-size: 16px;
    }

    .contenido-experiencia p{
        font-size: 14px;
    }

    .caja-botones{
        justify-content: center;
    }

    .btn-demo{
        font-size: 14px;
        font-weight: 600;
        padding: 8px;
    }

    .btn-repositorio{
        font-size: 14px;
        font-weight: 600;
        padding: 8px;
    }

}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px){

    .titulo-experiencia{
        font-size: 22px;
    }

    .encriptador, .alurageek{
        width: 90%;
        margin-left: 5%;
        flex-direction: column;
    }

    .ahorcado{
        width: 90%;
        margin-left: 5%;
        flex-direction: column-reverse;

    }

    .contenido-experiencia img{
        width: 100%;
        height: 330px;
    }

    .texto-encriptador, .texto-ahorcado, .texto-alurageek{
        margin-top: 20px;
        width: 100%; 
    }

    .contenido-experiencia h3{
        font-size: 1rem;
    }

    .contenido-experiencia p{
        font-size: 1rem;
    }

    .btn-demo{
        font-size: 14px;
        font-weight: 600;
        padding: 8px;
    }

    .btn-repositorio{
        font-size: 14px;
        font-weight: 600;
        padding: 8px;
    }

}