.skills{
    padding: 35px 0;
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap:2% 2%;
}

.skills__title{
    font-weight: 700;
    font-size: 32px;
    color: #464646;
    text-align: center;
    margin-bottom: 25px;
}

.skills__items h3{
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: #464646;
    margin-top: 5px;
}

.skills__items{
    width: 20%;
    margin-bottom: 25px;
    height: 150px;
    background: #FFFFFF;
    padding: 70px 16px;
    box-shadow: 4px 4px 15px 0px lightslategrey;
    transition: all .7s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills__items:hover{
    transform: scale(1.02);
}

.skills__items i{
    font-size: 40px;
    color: #2A7AE4;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
}

/*Mobile*/

@media screen and (max-width: 768px){

    #skills{
        padding: 35px 0 10px 0;
        width: 90%;
    }

    .skills__title{
        font-size: 22px;
    }

    .skills__items{
        width: 47%;
        height: 130px;
        padding: 50px 16px 16px;
        margin-bottom: 25px;
    }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px){

    #skills{
        padding: 35px 0 5px 0;
    }

    .skills__title{
        font-size: 22px;
    }

    .skills__items{
        width: 30%;
        height: 130px;
        padding: 50px 16px 16px;
        margin-bottom: 30px;
    }
}