.about{
    padding: 33px 0;
}
.texto__about{
    width: 90%;
}
.contenedor__about{
    display: flex;
    justify-content: center;
}
.about__title{
    font-weight: 700;
    font-size: 32px;
    color: #464646;
    margin-bottom: 12px;
    text-align: center;
}

.about__paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #464646;
    width: 90%;
    margin-left: 5%;
}

/*Mobile*/

@media screen and (max-width: 768px){
    .texto__about{
        width: 100%;
    }

    .about__title{
        font-size: 22px;
        margin-bottom: 12px;
    }

    .about__paragraph{
        font-size: 14px;
        line-height: 16px;
        width: 90%;
        margin-left: 3%;
        text-align: center;
    }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px){
    .texto__about{
        width: 100%;
    }

    .about__title{
        font-size: 22px;
        margin-bottom: 12px;
    }

    .about__paragraph{
        font-size: 14px;
        line-height: 16px;
    }
}